<template>
  <div class="container">
		<div class="layout">
			<Header />	
			<Nuxt />
			<Footer />
		</div>
  </div>
</template>

<style lang="css" scoped>
.container, .layout {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
}

.layout {
	max-width: 64em;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

</style>
